@include set-color;

p {
  display: block;
  word-wrap: break-word;
}

input[type=text] {
  width: 100%;
}



.slide-box {
  text-align: center;
}



.wrapper {
  display: flex;
}

.user-box {
  width: 300px;
  flex-shrink: 0;
}

.user-header {
  display: flex;
  height: 100px;
  font-size: 16px;
  font-weight: bold;
  align-items: center;
  padding: 0 20px;
}

.user-menu {
  display: flex;
  width: 100%;
  justify-content: space-between;
  &__icon {
    display: flex;
    &--change-account {
      margin-left: 0.3rem;
    }
  }
}

.chat-groups {
  box-sizing: border-box;
  height: calc(100vh - 100px);
  padding: 20px 20px 0 20px;
  &__title {
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 5px;
  }
  &__messages {
    font-size: 11px;
    font-weight: bold;
    padding-bottom: 40px;
  }
}



.chat-box {
  width: calc(100vw - 300px);
}

.chat-header {
  box-sizing: border-box;
  position: relative;
  height: 100px;
  border-bottom: solid 1px;
  border-color: $border-color;
  padding: $chat-box--padding;
  overflow: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
  &__btn {
    box-sizing: border-box;
    position: absolute;
    height: 40px;
    line-height: 40px;
    border: solid 1px;
    border-color: $slide-box--color;
    padding: 0 20px;
    top: 28px;
    right: 40px;
  }
  &__member {
    font-size: 12px;
    padding-top: 15px;
  }
}

.chat-info {
  width: 100%;
  font-size: 20px;
  padding-top: 35px;
}

.chat-contents-wrapper {
  box-sizing: border-box;
  height: calc(100vh - 190px);
  padding: 46px 40px 0 40px;
  overflow: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
  
}

.chat-contents {
  margin-bottom: 40px;
  &__message {
    font-size: 14px;
  }
}

.chat-user {
  display: flex;
  &__name {
    font-size: 16px;
    font-weight: bold;
  }
  &__date {
    font-size: 12px;
    margin-left: 10px;
  }
}

.chat-form-wrapper {
  display: flex;
  height: 90px;
  align-items: center;
  padding: $chat-box--padding;
}

.chat-form {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  &__btn {
    height: 50px;
    width: 100px;
    line-height: 50px;
    text-align: center;
    margin-left: 15px;
  }
}

.chat-input {
  position: relative;
  height: 50px;
  width: 100%;
  &__new-message {
    box-sizing: border-box;
    width: 100%;
    font-size: 16px;
    line-height: 50px;
    padding: 0 35px 0 10px;
  }
  &__btn-image {
    position: absolute;
    top: 13px;
    right: 10px;
  }
}

.image-send {
  display: none;
}
