.slide-box {
  color: $slide-box--font-color;
  background-color: $slide-box--color;
  text-align: center;
}



.wrapper {
  display: flex;
}

.user-box {
  width: 300px;
  color: $user-box--font-color;
}

.user-header {
  display: flex;
  height: 100px;
  font-size: 16px;
  font-weight: bold;
  align-items: center;
  background-color: $user-header--color;
  padding: 0 20px;
}

.user-menu {
  display: flex;
  width: 100%;
  justify-content: space-between;
  &__icon {
    display: flex;
    &--create-group {
      color: $user-box--font-color;
    }
    &--change-account {
      color: $user-box--font-color;
      margin-left: 0.5rem;
    }
  }
}

.chat-groups {
  box-sizing: border-box;
  height: calc(100vh - 100px);
  background-color: $chat-groups--color;
  padding: 20px 20px 0 20px;
  &__title {
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 5px;
  }
  &__messages {
    font-size: 11px;
    font-weight: bold;
    padding-bottom: 40px;
  }
}



.chat-box {
  box-sizing: border-box;
  width: calc(100vw - 300px);
}

.chat-header {
  box-sizing: border-box;
  height: 100px;
  border-bottom: solid 1px;
  border-color: $border-color;
  padding: $chat-box--padding;
  overflow: hidden;
  &__member {
    font-size: 12px;
    color: $chat-header__member--font-color;
    padding-top: 15px;
  }
}

.chat-info {
  display: flex;
  width: 100%;
  justify-content: space-between;
  &__title {
    font-size: 20px;
    color: $chat-info--font-color;
    padding-top: 35px;
  }
  &__btn {
    box-sizing: border-box;
    height: 40px;
    color: $slide-box--color;
    line-height: 40px;
    border: solid 1px;
    border-color: $slide-box--color;
    margin-top: 28px;
    padding: 0 20px;
  }
}

.chat-contents-wrapper {
  box-sizing: border-box;
  height: calc(100vh - 190px);
  background-color: $chat-contents--color;
  padding: 46px 40px 0 40px;
  overflow: scroll;
}

.chat-contents {
  margin-bottom: 40px;
  &__message {
    font-size: 14px;
    color: $chat-contents--font-color;
  }
}

.chat-user {
  display: flex;
  &__name {
    font-size: 16px;
    font-weight: bold;
    color: $chat-contents--font-color;
  }
  &__date {
    font-size: 12px;
    color: $chat-user__date--font-color;
    margin-left: 10px;
  }
}

.chat-form-wrapper {
  display: flex;
  height: 90px;
  background-color: $chat-form--color;
  align-items: center;
  padding: $chat-box--padding;
}

.chat-form {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  &__btn {
    height: 50px;
    width: 100px;
    line-height: 50px;
    text-align: center;
    color: $slide-box--font-color;
    background-color: $slide-box--color;
    margin-left: 15px;
  }
}

.chat-input {
  position: relative;
  height: 50px;
  width: 100%;
  background-color: $slide-box--font-color;
  &__new-message {
    box-sizing: border-box;
    width: 100%;
    font-size: 16px;
    line-height: 50px;
    color: $chat-contents--font-color;
    padding: 0 35px 0 10px;
  }
  &__btn-image {
    position: absolute;
    top: 13px;
    right: 10px;
  }
}

input[type=text] {
  width: 100%;
}
