/*color variables*/
$slide-box--color: #38aef0;
$slide-box--font-color: #fff;

$user-header--color: #253141;
$chat-groups--color: #2f3e51;
$user-box--font-color: #fff;

$chat-info--font-color: #333;
$chat-header__member--font-color: #999;
$chat-contents--color: #fafafa;
$chat-contents--font-color: #434A54;
$chat-user__date--font-color: #999;
$chat-form--color: #ddd;
$chat-form__btn--color: #38aef0;

$border-color: #eee;

/*padding variable*/
$chat-box--padding: 0 40px;